@page "/"
@using Pyramid.Data

<h1>POWERED BY BLAZOR</h1>

<div style="border:groove; border-radius:25px; display: inline-block; float:left; padding: 10px; margin-right:10px; background:#f5f2d0">
    <h5>Team Members:</h5>
    <NewTeamMember OnClick="@BuildTmList" />
    <br />
    <br />
    <ui>
        @foreach (var tm in updatedTeamMemberList)
        {
            if (tm.DefaultTeamMember == true)
            {
                <div style="border:outset; border-radius:25px; display: inline-block; padding: 10px">
                    <input type="text" name="Name" placeholder="Enter Name" @bind="tm.Name" />
                    <input type="color" name="Select Color" @bind="tm.Color" />
                    <input type="checkbox" name="Is Default" @bind="tm.DefaultTeamMember" />
                </div>
                <br />
            }
            else
            {
                <div>
                    <button @onclick="@(() => DeleteTm(tm))">X</button>

                    <div style="border:outset; border-radius:25px; padding:5px; display: inline-block; background:@tm.Color; -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
                        @tm.Name
                    </div>
                </div>
            }
        }
    </ui>
</div>


<div style="border:groove; border-radius:25px; display: inline-block; padding: 10px; background:#f5f2d0">
    <h5>Tasks:</h5>
    <NewTask OnClick="@BuildTaskList" />
    <br />
    <br />
    <ui>
        @foreach (var itask in updatedTaskList)
        {
            if (itask.DefaultTask == true)
            {
                <div style="border:outset; border-radius:25px; padding: 10px; display: inline-block">
                    <input placeholder="Task Name" @bind="itask.TaskName" />
                    <input type="color" name="Choose a Color" @bind="itask.Color" />
                    <input type="number" name="TM Slots" @bind="@itask.SlotNumber" />
                    <input type="checkbox" name="DefaultTask" @bind="@itask.DefaultTask" />
                </div>
                <br />
            }
            else
            {
                <button @onclick="@(() => DeleteTask(itask))">X</button>

                <div style="border:outset; border-radius:25px; padding: 10px; display: inline-block; background:@itask.Color; -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
                    <div>
                        <h4>@itask.TaskName</h4>

                        @for (int i = 0; i < itask.SlotNumber; i++)
                        {
                            <TeamMemberSwitchComponent tmList="updatedTeamMemberList" />
                        }
                    </div>
                </div>
                <br />

            }
        }
    </ui>
</div>


@code{

    List<TeamMember> updatedTeamMemberList = new List<TeamMember>();
    List<IndividualTask> updatedTaskList = new List<IndividualTask>();

    public void BuildTmList(List<TeamMember> passedTms)
    {
        updatedTeamMemberList = passedTms;
    }

    public void BuildTaskList(List<IndividualTask> passedTasks)
    {
        updatedTaskList = passedTasks;
    }

    public void DeleteTask(IndividualTask itask)
    {
        updatedTaskList.Remove(itask);
    }

        public void DeleteTm(TeamMember tm)
    {
        updatedTeamMemberList.Remove(tm);
    }

}
