@page "/"
@using Pyramid.Data

<h1>POWERED BY BLAZOR</h1>

<NewTeamMember OnClick="@BuildTmList"/>

<NewTask OnClick ="@BuildTaskList"/>

<div>

    <ui>
        @foreach (var tm in updatedTeamMemberList)
        {
            if (tm.DefaultTeamMember == true)
            {
                <div style="border:outset; display: inline-block; padding: 10px;">
                <input type="text"  name="Enter Name" @bind="tm.Name" />
                <input type="color"  name="Select Color" @bind="tm.Color" />
                <input type="checkbox" name="Is Default" @bind="tm.DefaultTeamMember" />
                </div>
                <br/>
            }
        }
    </ui>
</div>


<div>
    <ui>
        @foreach (var itask in updatedTaskList)
        {
            if (itask.DefaultTask == true)
            {
                <div style="border:outset; padding: 10px; display: inline-block">
                <input placeholder="Task Name" @bind="itask.TaskName" />
                <input type="color" name="Choose a Color" @bind="itask.Color" />
                <input type="number" name="TM Slots" @bind="@itask.SlotNumber" />
                <input type="checkbox" name="DefaultTask" @bind="@itask.DefaultTask" />
                </div>
                <br/>
            }
            else
            {
                <button></button>

                <div style="border:outset; padding: 10px; display: inline-block; background:@itask.Color; -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
                    <span>
                    <h2>@itask.TaskName</h2>
                    
                    @for (int i = 0; i < itask.SlotNumber; i++)
                    {
                        <TeamMemberSwitchComponent tmList="updatedTeamMemberList"/>
                    }
                    </span>
                </div>
                <br/>
                
            }
        }
    </ui>
</div>


@code{

    List<TeamMember> updatedTeamMemberList = new List<TeamMember>();
    List<IndividualTask> updatedTaskList = new List<IndividualTask>();

    public void BuildTmList(List<TeamMember> passedTms)
    {
        updatedTeamMemberList = passedTms;
    }

    public void BuildTaskList(List<IndividualTask> passedTasks)
    {
        updatedTaskList = passedTasks;
    }

}
